{% extends "base.html" %}

{% block title %} Resume {% endblock title %}

{% block body %}
  
   <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Ruby Sah</h4>
              <ul>
                <li>Delhi, India</li>
                <li>8307929328</li>
                <li>rubyshah343@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>B.Tech, Computer Science And Engineering</h4>
              <h5>2018 - 2022</h5>
              <p><em>Guru Jambheshwar University of Science and Technology, Hisar, Haryana</em></p>
              </div>
            <div class="resume-item">
              <h4>Higher Secondary Education</h4>
              <h5>2015 - 2017</h5>
              <p><em>National Infotech, Birgunj, Nepal</em></p>              
            </div>
             <div class="resume-item">
              <h4>Secondary Education</h4>
              <h5>2014</h5>
              <p><em>Jeevan Jyoti Secondary School, Birgunj, Nepal</em></p>              
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Certifications</h3>
            <div class="resume-item">
              <h4>Full Stack using Python, Django </h4>
              <h5>feb, 2022</h5>
              <p><em>Cetpa Infotech, noida-sec-2 </em></p>
              
            </div>
            <div class="resume-item">
              <h4>Technical Skills</h4>
              <ul>
                <li>C Programming</li>
                <li>Python</li>
                <li>Core Java</li>
                <li>Servlet </li>
                <li>JSP </li>
                <li>Web Development(HTML, CSS, Bootstrap)</li>
              </ul>
              </p>
            </div>

             <div class="resume-item">
              <h4>Projects</h4>
              <ul>
                <li>Custom Management System Using Python,Tkinter</li>
                <li>Hospital Management System Using Java, Servlet, Jsp</li>
                <li>Personal Portfolio Using Python, Django</li>
                
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


{% endblock body %}
  